h1 {
  font-family: georgia,serif;
  color: #755c44;
  font-size: 50px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 10px;
}

h2 {
  font-family: georgia,serif;
  color: #755c44;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
}

h3 {
  font-family: georgia,serif;
  color: #755c44;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  text-transform: uppercase;
  margin: 10px;
  text-align: left;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    background: #695C44;
  }
  
  /* Add a color to the active/current link */
  .topnav .active {
    color:            #F8F8F8;
    background-color: #4f81bd;
}

  /* Header Title */
.header {
  padding: 40px;
  text-align: center;
  background: #f9f7f7;
  margin:30px;
  font-size:20px;
}

.blogTitle {
  border-color:#695C44;
 border-bottom:5px dashed;
 margin:0px 10px 0px 10px;
 padding-left:5px;
 color:#666666;
 font-family:Tahoma;
 font-size:25px;
 font-variant:normal;
 font-weight:lighter;
 letter-spacing:3px;
 text-transform:uppercase;
}

.content {
  font-family: georgia,serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing:1px;
  }

.contentTitle {
    font-family: georgia,serif;
    font-size: 25px;
    line-height: 20px;
    letter-spacing:1px;
    text-decoration: underline, solid;
  }
 
.blogInput {
  word-wrap: break-word; 
  resize: horizontal; 
  height: 400px; 
  width: 99%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}
